---
import Layout from "../layouts/Layout.astro";
import { Timeline, type TimelineItem } from "../components/TimeLine";

const historyData: TimelineItem[] = [
  {
    date: "2017/4 ~ 2020/3",
    title: "三重県立四日市高等学校 普通科",
    description: "三重県立四日市高等学校 普通科に在籍していました。",
  },
  {
    date: "2020/4 ~ 2024/3",
    title: "千葉大学 理学部 物理学科",
    description: "千葉大学 理学部 物理学科に在籍していました。",
  },
  {
    date: "2024/4 ~ 2026/3",
    title: "東京大学大学院 工学系研究科バイオエンジニアリング専攻",
    description:
      "東京大学大学院 工学系研究科 バイオエンジニアリング専攻に在籍していました。",
  },
];
---

<Layout title="About">
  <main class="min-h-screen pt-20">
    <section class="px-4 pt-10 md:px-10 max-w-7xl mx-auto">
      <div
        class="bg-white dark:bg-gray-900 border border-gray-100 dark:border-gray-800 rounded-[1.5rem] md:rounded-[2.5rem] p-6 md:p-12 shadow-sm hover:shadow-md transition-shadow flex flex-col md:flex-row items-center md:items-start gap-8"
      >
        <div class="w-full flex-2">
          <div class="w-full flex flex-col items-center md:items-start">
            <h4
              class="text-xl md:text-2xl font-bold text-center md:text-left text-gray-900 dark:text-white"
            >
              Furuichi Katsuhiro
            </h4>
          </div>

          <div
            class="mt-4 text-base md:text-lg text-gray-700 dark:text-gray-300 leading-relaxed"
          >
            <p>Webフロントエンドに興味があります。</p>
            <p class="mt-2">
              普段は <span
                class="font-semibold text-blue-600 dark:text-blue-400"
                >React, Astro, Qwik, TypeScript</span
              > を用いた開発を行なっています。特にQwikが好きです。
            </p>
            <p class="mt-4 text-sm md:text-base opacity-80">
              趣味：コーヒー、テニス、寝ること
            </p>
          </div>
        </div>
      </div>
    </section>
    <Timeline items={historyData} />
  </main>
</Layout>
